<h1>Dashboard</h1>
User_id: <%= @user %>
<br>
<%= link_to 'Add Bill', new_bill_path, remote: true, class: "btn btn-primary active", 'data-toggle':"collapse", 'href': "#newBillWindow",  'aria-expanded': "false", 'aria-controls'=>"newBillWindow" %>
<%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-warning active" %><br>
<%# Collapsable Content%>
  <div class="collapse" id="newBillWindow">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <%= form_for @newBill, remote:true, url: bills_path, :html => { id:"addBill"} do |f| %>
            <div class="col-sm-6">
              <%= f.label :title, 'Bill Title :' %> <br>
              <%= f.text_field :title, placeholder: "Drinks at Tony's" %><br>
            </div>
            <div class="col-sm-6">
              <%= f.label :total_price, "Total Amount ($):" %> <br>
              <%= f.text_field :total_price, placeholder: "543.21" %> <br>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-12"> <br>
            <div class="col-md-6 col-sm-12 ">
              <%= f.text_area :description, placeholder: "Describe the occasion!", id:"newBillDesc" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-12">
            <div class="col-sm-10">
            <%= f.label :due, 'Due on:' %>
            <%= f.date_select(:due, use_short_month: true, order:[:day, :month, :year]) %>
            </div>
            <div class="col-sm-2">
              <%= f.submit "Save Bill", class: 'btn btn-success', id: "saveBill-btn"%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div><br> <%# END of collapsable content %>

<div class="divider"></div>

  <div class="container-fluid">
    <div class="row" id="billBook">


      <% @bills.each do |bill| %>
        <div class="col-md-4">
          <div class="col-xs-12 card" id="card_<%=bill.id%>">

            <%# Nav Tabs Block %>
              <div class="card text-xs-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#view_card_<%=bill.id%>" role="tab">View</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#items_card_<%=bill.id%>" role="tab">Items</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#details_card_<%=bill.id%>" role="tab">Details</a>
                    </li>
                  </ul>
                </div>
                <div class="card-block tab-content">
                  <!-- Tab panes -->
                    <div class="tab-pane active" id="view_card_<%=bill.id%>" role="tabpanel">
                      <div class="imgHolder">
                        <img class="card-img-top cardImg" src="https://mave.me/img/projects/full_placeholder.png" alt="Card image cap">
                        <p class="card-title billTitle"> <%=bill.title%> </p>
                      </div>
                    </div>
                    <div class="tab-pane" id="items_card_<%=bill.id%>" role="tabpanel">
                      <div class="col-md-12">
                        <span>$0</span> / <span class="billTotal">$<%=bill.total_price%></span>
                      </div>
                      <div class="col-md-12 status">
                        <% if bill.clear == false
                            status = ' On going'
                           else
                             status = ' Cleared '
                           end %>
                        Status: <%=status%>
                      </div>
                      <div class="col-md-12 dueDate">
                        Due on: <%=bill.due%>
                      </div>
                    </div>
                    <div class="tab-pane" id="details_card_<%=bill.id%>" role="tabpanel">Bill Description...</div>
                </div>
              </div>
            <%# END of Nav Tabs %>

              <a href="#test" class="btn btn-primary active">Test</a>
            </div>
          </div>
      <%end%>


    </div>
  </div>

<template id="billTemplate">
  <div class="col-md-4">
    <div class="col-xs-12 card">
      <div class="imgHolder">
        <img class="card-img-top cardImg" src="https://mave.me/img/projects/full_placeholder.png" alt="Card image cap">
        <p class="card-title billTitle"></p>
      </div>
    </div>
    <div class="card-block">
      <button type="button" class="btn btn-default active" aria-label="Left Align">
      <div class="col-md-12 billTotal">$</div>
      <div class="col-md-12 billDueDate"></div>
      <div class="col-md-12 billStatus"></div>
    </div>
    <a href="#" class="btn btn-primary">Test</a>
  </div>
</template>

<template id="">
</template>
