<h1>Dashboard</h1>
User_id: <%= @user_id %>
<br>
<%= link_to 'Add Bill', new_bill_path, remote: true, class: "btn btn-primary active", 'data-toggle':"collapse", 'href': "#newBillWindow",  'aria-expanded': "false", 'aria-controls'=>"newBillWindow" %>
<%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-warning active" %><br>
<%# Collapsable Content%>
  <div class="collapse" id="newBillWindow">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <%########Form for submitting new Bill########%>
            <%= form_for @newBill, remote:true, url: bills_path, :html => { id:"addBill"} do |f| %>
              <div class="col-sm-6">
                <%= f.label :title, 'Bill Title :' %> <br>
                <%= f.text_field :title, placeholder: "Drinks at Tony's" %><br>
              </div>
              <div class="col-sm-6">
                <%= f.label :total_price, "Total Amount ($):" %> <br>
                <%= f.text_field :total_price, placeholder: "543.21" %> <br>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-12"> <br>
              <div class="col-md-6 col-sm-12 ">
                <%= f.text_area :description, placeholder: "Describe the occasion!", id:"newBillDesc" %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-12">
              <div class="col-sm-10">
              <%= f.label :due, 'Due on:' %>
              <%= f.date_select(:due, use_short_month: true, order:[:day, :month, :year]) %>
              </div>
              <div class="col-sm-2">
                <%= f.submit "Save Bill", class: 'btn btn-success', id: "saveBill-btn"%>
                <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div><br>

<%# END of collapsable content %>

<div class="divider"></div>

  <div class="container-fluid">
    <div class="row" id="billBook">
<%######## START Bill Cards ##########%>
        <% @bills.each do |bill| %>
          <div class="col-lg-4 col-md-6 col-sm-12" id="card_<%=bill.id%>">
            <div class="col-xs-12">
                <div class="card">

                <%# Start Nav Tabs Block %>
                  <div class="card-header text-xs-center">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#view_card_<%=bill.id%>" role="tab">View</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#items_card_<%=bill.id%>" role="tab">Items</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#details_card_<%=bill.id%>" role="tab">Details</a>
                      </li>
                      <li class="nav-item  float-xs-right">
                        <button class="bill-delete-btn btn btn-outline-danger btn-sm" type="button" bill-id="<%=bill.id%>">X</button>
                        <%#<a class="btn btn-outline-danger btn-sm active" data-method="delete" href="/bills/" role="button" rel="nofollow" data-confirm="Are you sure?">
                          <i class="fa fa-lg fa-times" aria-hidden="true"></i>
                        </a>%>
                      </li>

                    </ul>
                  </div>
                <%# END of Nav Tabs %>

                <%# Start Tab panes %>
                  <div class="card-block tab-content">
                    <%##### START Views Pane  #####%>
                        <div id="view_card_<%=bill.id%>" class="tab-pane active text-xs-left " role="tabpanel">
                          <div class="imgHolder">
                            <img class="card-img-top cardImg" src="https://mave.me/img/projects/full_placeholder.png" alt="Card image cap">
                            <p class="card-title billTitle"> <%=bill.title%> </p>
                          </div>
                          <div class="col-md-12">
                            <span>$0</span> / <span class="billTotal">$<%=bill.total_price%></span>
                          </div>
                          <div class="col-md-12">
                            <%=@all_bill_items[bill.id].length%> items
                          </div>
                          <div class="col-md-12">
                            <% if bill.clear == false
                              status = ' On going'
                            else
                              status = ' Cleared '
                            end %>
                            Status: <%=status%>
                          </div>
                      </div>
                    <%##### END Views Pane  #####%>

                    <%##### START Items Pane  #####%>
                        <div id="items_card_<%=bill.id%>" class="tab-pane" role="tabpanel">
                            <a class="btn btn-outline-success btn-sm addItem" data-toggle="collapse" href="#addItemCollapse_<%=bill.id%>" aria-expanded="false" aria-controls="addItem">
                              <i id="test" class="fa fa-plus-circle" aria-hidden="true"></i> Item </a>

                              <%# START Collapse new item form %>
                              <div class="collapse" id="addItemCollapse_<%=bill.id%>">
                                <%= form_for @newItem, remote: true, url: items_path, :html => { class:"newItemForm", id:"newItemForm_#{bill.id}"} do |f| %>
                                <%= hidden_field(:item, :bill_id, options={ :value => bill.id } ) %>
                                <%= f.text_field :item_name, placeholder: "New Item" %><br>
                                <%= f.text_field :item_price, placeholder: "($)"%><br>
                                <%= f.submit "Save", class: 'btn btn-outline-primary btn-sm submit_item', id: "saveItem-btn-"+bill.id.to_s, billID: bill.id.to_s %>
                                <% end %>
                              </div>
                              <%# end Collapse new item form %>
                            <%# List bill items here %>
                            <div class="items_list" id="items_card_list_<%=bill.id%>">

                                <% @all_bill_items[bill.id].each do |item| %>
                                    <div id="bill_item<%=item.id%>" class='bill_item'>
                                        <div class="col-sm-7">
                                          <div><%=item.item_name%></div>
                                          <div>$<%=item.item_price%></div>
                                        </div>
                                        <div class="col-sm-1">
                                          <a id="delBtn-item<%=item.id%>" href="#" class="delItem-btn btn btn-outline-danger btn-sm" billID="<%=bill.id%>" itemID="<%=item.id%>">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                          </a>
                                        </div>
                                        <div class="col-sm-1">
                                          <a id="payeeInfo-btn<%=item.id%>" class="payeeInfo-btn btn btn-outline-info btn-sm" billID="<%=bill.id%>" itemID="<%=item.id%>">
                                            <span id="payee_count-item<%=item.id%>"></span> <i class="fa fa-user" aria-hidden="true"></i> </a>
                                        </div>
                                        <div class="tagPayee-input-holder col-sm-1" id='tagPayee-input-holder-item<%=item.id%>'>
                                          <a id="tagPayeeItem-<%=item.id%>" billID="<%=bill.id%>" itemID="<%=item.id%>" href="" class="btn btn-outline-success btn-sm tagPayee" role="button">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                <% end %>
                                <div id="tagPayeeItemFrame-bill<%=bill.id%>" class="tagPayeeItemFrame">
                                  <div id='tagPayeeItemContent-bill<%=bill.id%>' class='tagPayeeItemContent'> </div>
                                </div>
                            </div>

                          </div>
                    <%##### END Items Pane  #####%>

                    <%##### START Details Pane  #####%>
                        <div id="details_card_<%=bill.id%>" class="tab-pane text-xs-left" role="tabpanel">
                            <p> Due on: <%=bill.due%> </p>
                            <p> <%=bill.description%> </p>
                        </div>
                    <%##### START Details Pane  #####%>

                  </div>
                <%# END Tab panes %>
                </div>
              </div>
            </div>
        <%end%>
<%######## END Bill Cards ###########%>
    </div>
  </div>

<%#-------------------------------TEMPLATES-----------------------------------%>
  <%##### Ajax Find Payee Number Template######%>
    <template id="request_payee_number">
      <div class="template_payee_number">
        <h4>Payee's Mobile Number</h4>
        <div class="input-group"> <span class="input-group-addon">+65</span> <input class="template-inputPayeeNum inputPayeeNum form-control" type="text" name="inputPayeeNum" placeholder="Contact Number" value="98296883" > </div>
        <%# Button to add Payee%>
        <button type="button" class="template-checkPayeeNoBtn checkPayeeNoBtn btn btn-sm btn-outline-success"> Search <i class="fa fa-search" aria-hidden="true"></i> </button>
        <%# Button to close tagPayeeItemFrame %>
        <button id="closeTagPayeeItemFrame" class="closeTagPayeeItemFrame btn btn-sm btn-outline-danger"> Cancel <i class="fa fa-lg fa-times" aria-hidden="true"></i> </button>
      </div>
    </template>
  <%# END Ajax Add Payee Template#%>

  <%##### START MemberPayee-form Template######%>
    <template id="template-MemberPayee">
      <div class="template-MemberPayee-form">
        <h5><span class="template-ownerName" >__</span>is on Billy :)</h5>
        <input type="hidden" class="template-payee_id payee_id form-control" name="payee_id" >
        <div class="input-group">
          <select class="template-payType payType form-control" >
            <option value='1'>Cash</option>
            <option value='2'>Favour</option>
          </select>
        </div>
        <div class="input-group"> <span class="input-group-addon">$</span> <input class="template-payee_amount payee_amount form-control" type="text" name="payee_amount" placeholder="xxx.xx"> </div>
        <%# Button to add Payee%>
        <button type="button" class="template-addPayeeBtn addPayeeBtn btn btn-sm btn-outline-success"> <i class="fa fa-check" aria-hidden="true"></i> Done </button>
        <%# Button to close tagPayeeItemFrame %>
        <button class="template-closeTagPayeeItemFrame closeTagPayeeItemFrame btn btn-sm btn-outline-danger"> <i class="fa fa-lg fa-times" aria-hidden="true"></i> Cancel</button>
      </div>
    </template>
  <%##### END MemberPayee-form Template######%>

  <%##### START nonMemberPayee-form Template######%>
    <template id="template-nonMemberPayee">
      <div class="template-nonMemberPayee-form">
        <h5>No Records Found :(</h5>
        <input type="hidden" class="template-payeeNumRecord payeeNumRecord form-control" name="payeeNumRecord" >
        <div class="input-group"> <input class="template-payee_name payee_name form-control" type="text" name="payee_name" placeholder="Payee's Name " > </div>
        <div class="input-group">
          <select class="template-payType payType form-control" >
            <option value='1'>Cash</option>
            <option value='2'>Favour</option>
          </select>
        </div>
        <div class="input-group"> <span class="input-group-addon">$</span> <input class="template-payee_amount payee_amount form-control" type="text" name="payee_amount" placeholder="xxx.xx"> </div>
        <%# Button to add Payee%>
        <button type="button" class="template-addPayeeBtn addPayeeBtn btn btn-sm btn-outline-success"> <i class="fa fa-check" aria-hidden="true"></i> Done </button>
        <%# Button to close tagPayeeItemFrame %>
        <button class="template-closeTagPayeeItemFrame closeTagPayeeItemFrame btn btn-sm btn-outline-danger"> <i class="fa fa-lg fa-times" aria-hidden="true"></i> Cancel</button>

      </div>
    </template>
  <%##### END nonMemberPayee-form Template######%>

  <%##### Ajax Add Payee Template######%>
    <template id="template_tagPayee_input">
      <div class='tagPayeeForm'>
          <div class="input-group"> <input id="payee_name" class="form-control payee_name" type="text" name="payee_name" placeholder="Payee's Name " > </div>
          <div class="input-group"> <span class="input-group-addon">+65</span> <input id="payee_number" class="form-control" type="text" name="payee_number" placeholder="Contact Number" value="98296883" > </div>
          <div class="input-group"> <span class="input-group-addon">$</span> <input id="payee_amount" class="form-control" type="text" name="payee_amount" placeholder="xxx.xx"> </div>
          <div class="input-group">
            <select class="form-control" id="payment_type" >
              <option value='1'>Cash</option>
              <option value='2'>Bank Transfer</option>
              <option value='3'>Favour</option>
            </select>
          </div>
          <%# Button to add Payee%>
          <button type="button" id="addPayeeBtn" class="addPayeeBtn btn btn-sm btn-outline-success"> <i class="fa fa-user-plus" aria-hidden="true"></i> Add </button>

          <%# Button to close tagPayeeItemFrame %>
          <button id="closeTagPayeeItemFrame" class="closeTagPayeeItemFrame btn btn-sm btn-outline-danger"> <i class="fa fa-lg fa-times" aria-hidden="true"></i> Cancel</button>
      </div>
    </template>
  <%# Ajax Payee Input Template%>

  <%###### Ajax Card for payables Template ######%>



    <template id="template-card-payable">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="col-xs-12">
            <div class="card">
              <h4 class="template-billTitle  card-header"></h4>
                <div class="card-block">
                  <div class="col-sm-6">
                    <div class="col-sm-12"><span class="template-itemName"></span></div>
                    <div class="col-sm-12">$<span class="template-itemPrice"></span></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-sm-12">
                      Contribute:
                    </div>
                    <div class="col-sm-12">
                      $<span class="template-contractPrice"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </template>
  <%###### Ajax Card for payables Template ######%>


  <%###### Ajax Card Template ######%>
  <%###### Ajax Card Template ######%>
     <template id="billTemplate">
        <div class="col-md-4">
          <div class="col-xs-12">
              <div class="card" id="template_card">
                <%# START Nav Tabs Block %>
                <div class="card-header text-xs-center">
                  <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                      <a id="template_viewLink" class="nav-link active" data-toggle="tab" role="tab">View</a> </li>
                    <li class="nav-item">
                      <a id="template_itemsLink" class="nav-link" data-toggle="tab" role="tab">Items</a> </li>
                    <li class="nav-item">
                      <a id="template_detailsLink" class="nav-link" data-toggle="tab" role="tab">Details</a> </li>
                  </ul>
                </div>
                <%# END Nav Tabs Block %>
                <%# Start Tab panes %>
                  <div class="card-block tab-content">
                      <div id='template_viewPane' class="tab-pane active text-xs-left" role="tabpanel">
                        <div class="imgHolder">
                          <img class="card-img-top cardImg" src="https://mave.me/img/projects/full_placeholder.png" alt="Card image cap">
                          <p class="card-title billTitle" id="template_billTitle"></p>
                        </div>
                        <div class="col-md-12">
                          <span>$0</span> / <span id="template_billTotal" ></span>
                        </div>
                        <div class="col-md-12">
                          Status: Under Construction
                        </div>
                      </div>

                      <div id="template_itemsPane" class="tab-pane" role="tabpanel">
                        items pane
                        <a href="#test" class="btn btn-primary active">
                          Add Items Feature </a>
                      </div>

                      <div id="template_detailsPane"  class="tab-pane" role="tabpanel">
                        <p id="template_due"> Due on: **Under Construction** </p>
                        <p id="template_details" >
                          **Bill Description...** </p>
                      </div>
                  </div>
                <%# END Tab panes %>
              </div>
            <%# END of Nav Tabs %>
            </div>
          </div>
    </template>
  <%# END Ajax Card Template %>
